* {
    margin: 0;
    padding: 0;
}
.container  {
    max-width: 1140px;
    margin: 0 auto;
}
.header {
    padding: 30px 15px;
    min-height: 100px;
    background: linear-gradient(to top, #ffffff, #00BFFF);
    text-align: right;
}
.flex-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-column {
    display: flex;
    justify-self: flex-end;
    flex-direction: column;
    align-items: center;
}
.btn-cart {
    color:#00BFFF;
    padding: 10px;
    font-size: 18px;
    box-shadow:0 0 10px white;
    background: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn-cart:hover {
    color:white;
    box-shadow: 0 0 10px black;
    background: black;
}
.product-item {
    width: 25%;
    margin-right: 50px;
    text-align: center;
    box-shadow: 0 0 30px #00BFFF;
    margin-bottom: 50px;
    padding: 15px;
    box-sizing: border-box;
}
.product-item_img {
    margin-bottom: 10px;
    width: 200px;
    height: 150px;
}
.product-item_img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.product-item_header {
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.product-item_price {
    font-size: 16px;
    color: black;
}
.buy-btn, .del-btn {
    padding: 7px;
    background-color: #00BFFF;
    box-shadow: 0 0 10px #00BFFF;
    color:white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.cart-block{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    box-sizing: border-box;
    right: 0;
    top: 130%;
    position: absolute;
    background-color: white;
    padding: 20px;
    color: black;
    width: 300px;
}
.cart {
    display: flex;
    justify-content: space-between;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 3px;
}
.cart-item:not(:last-child){
    margin-bottom: 20px;
}
.product-bio{
    display: flex;
}
.cart-item_img{
    align-self: flex-start;
    margin-right: 15px;
    max-width: 75px;
    max-height: 75px;
}
.product-single-price{
    color: #474747;
    font-size: 0.6em;
}
.product-price{
    margin-left: 30px;
}
.product-desc{
    max-width: 150px;
}
.product-quantity {
    margin-top: 15px;
    font-size: 0.85em;
}
.right-block{
    text-align: right;
}
.buy-btn:hover, .del-btn:hover {
    color:white;
    box-shadow: 0 0 10px black;
    background: black;
}
.heading {
    color: white;
    text-shadow:0 0 3px black;
}
.shop {
    color:black;
}
.basket {
    display: none;
    max-width: 400px;
    position:fixed;
    top: 100px;
    right: 150px;
    background: white;
    box-shadow: 0 0 10px #00BFFF;
    padding: 15px;
}
.basket-item_img {
    margin-bottom: 10px;
}
.basket-item {
    margin: 10px;
}
.btn-search {
    background-color: transparent;
    border: none;
    color: #fafafa;
    font-size: 1.2em;
    position: absolute;
    bottom: 10px;
    right: 0;
}
.search-form{
    position: relative;
    margin-right: 50px;
    display: inline-block;
}
.search-field:focus{
    outline: none;
}
.search-field {
    box-sizing: border-box;
    width: 200px;
    color: #fafafa;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fafafa;
}
.cart{
    position: relative;
}
.cart-block{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    box-sizing: border-box;
    right: 0;
    top: 130%;
    position: absolute;
    background-color: white;
    padding: 20px;
    color: black;
    width: 300px;
}

.invisible{
    display: none;
}
.cart-block:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 35px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}
.footer {
  padding-top: 91px;
  padding-bottom: 64px;
  margin-top: 112px;
  background: linear-gradient(to bottom, #ffffff, #00BFFF);
  text-align: right;
  color:black;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 96px;
}

.footer__text {
  width: 495px;
}

.footer__heading {
  max-width: 340px;
  text-align: left;
  margin-bottom: 32px;
}

.text_footer {
  word-wrap: break-word;
  max-width: 450px;
  text-align: left;
}
.footer__button {
  padding: 15px 80px;
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color:white;
    font-size: 18px;
    box-shadow: 0 0 10px black;
    background: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}
.footer__button:hover {
    box-shadow: 0 0 10px white;
    background: white;
    color:#00BFFF;
}
.footer__info {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.footer__list {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    width: 30%;
    list-style-type: none;
    display: flex;
    margin-right: 32px;
    justify-content: center;
    text-align: left;
}

.footer__list:first-child::before {
  content: 'Соцсети:';
  display: block;
  margin-right: 16px;
}

.footer__list:nth-child(2n)::before {
  content: 'Телефон:';
  display: block;
  margin-right: 16px;
}

.footer__list:nth-child(3n)::before {
  content: 'Email:';
  display: block;
  margin-right: 16px;
}

.footer__copy {
    margin-top: 64px;
    text-align: center;
}

.footer__hr {
  opacity: 0.4;
}